.article-details img {
  width: 5rem;
  height: 5rem;
  object-fit: cover;
  border-radius: 50%;
}

.img-text-box {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.article-details p {
  color: #fff;

  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
}
.article-details h2 {
  margin-bottom: 2rem;
}

article {
  margin: auto;
}
article img {
  width: 100%;
  margin: 5rem 0;
}
article h2 {
  font-size: 3rem;
  margin-bottom: 2rem;
  line-height: normal;
}
article p {
  color: #808080;
  hyphens: auto;
  font-size: 2.3rem;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
  margin-bottom: 2rem;
  text-align: justify;
}

.success {
  background-color: transparent;
}
.success h1 {
  color: #fff;
}
.in-this-article span {
  font-size: 1.6rem;
  border-top: 0.4rem solid #45c6f4;
  width: fit-content;
  padding: 1rem 0;
  margin: 0 1.5rem;
}

.in-this-article h2 {
  font-size: 1.6rem;
  background-color: #d9d9d9;
  padding: 1.5rem;
}

.in-this-article p {
  font-size: 1.5rem;
  line-height: 1.2;
  padding: 1.5rem;
}
.content-container {
  display: grid;
  grid-template-columns: 1.5fr 3fr;
  gap: 5rem;
}
@media (max-width: 39.5em) {
  .content-container {
    grid-template-columns: 1fr;
  }
}

.sources h2 {
  color: #000;
  font-size: 4rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
}

.sources li {
  font-size: 2.3rem;
  line-height: 3rem;
  margin: 3rem 0;
}
