* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /* 10px = 1rem  */
  overflow-x: hidden;
  /* Does't work on safari */
  /* scroll-behavior: smooth; */
}

body {
  scroll-behavior: smooth;
  font-family: "Montserrat", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #000068;

  /* only works if nothing is absolutly positioned
  in relatio to the body */
  overflow-x: hidden;
}

/************************/
/* GENERAL REUSABLE COMPONENT */
/************************/
.container {
  /* 1140px */
  max-width: 130rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}
.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid {
  display: grid;
}

a {
  text-decoration: none !important;
}
