/* 1120px */
@media (max-width: 70em) {
  html {
    font-size: 52% !important;
  }
  .hero-text-box h2 {
    font-size: 5rem;
  }
  .hero-text-box p {
    font-size: 3rem;
  }
  .nav-lang:link,
  .nav-lang:visited {
    height: 100%;
  }
  .lang-menu {
    padding: 0.8rem;
  }
  .blog-articles .article {
    height: auto;
  }
}

/* 970px */
@media (max-width: 60.5em) {
  html {
    font-size: 45% !important;
  }
}
/* 850px */
@media (max-width: 54.5em) {
  html {
    font-size: 42% !important;
  }
}

/* 768px */
@media (max-width: 48em) {
  html {
    font-size: 37% !important;
  }
  .blog-articles .article p {
    font-size: 4rem !important;
  }
  .blog-articles {
    grid-template-rows: repeat(1, 1fr) !important;
    grid-template-columns: repeat(1, 1fr) !important;
  }
  .blog-articles .article p {
    font-size: 4 rem !important;
  }
  .blog-articles .article:nth-of-type(2) {
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(2, 1fr);
  }
  .blog-articles .article:nth-of-type(3) p {
    justify-content: start;
    width: 100%;
  }
  .blog-articles .article:nth-of-type(4) p {
    height: 100%;
  }
  .blog-articles .article p {
    display: flex !important;
    align-items: end !important;
  }
  .blog-articles .article img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

/* 550px */

@media (max-width: 34.5em) {
  html {
    font-size: 30% !important;
    text-align: center;
  }
  header {
    height: auto !important;
    padding: 1.5rem 4.8rem !important;
  }
  .logo {
    height: 10rem;
  }
  .main-nav {
    position: fixed !important;
    background-color: #0544e1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh !important;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100000000000;
    transition: all 0.5s ease-in;
    transform: translateX(100%);
    /* hide nav */
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }
  .nav-open .main-nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }
  .nav-open .icon-mobile-nav[name="close-outline"] {
    display: block;
    position: fixed !important;
    top: 2.4rem;
    right: 4.7rem;
  }
  .nav-open .icon-mobile-nav[name="menu-outline"] {
    display: none;
  }

  .main-nav-link:link,
  .main-nav-link:visited,
  .nav-lang:link,
  .nav-lang:visited {
    font-size: 5rem;
  }

  .main-nav-list li,
  .main-nav-list div:not(:last-child) {
    padding: 3rem;
  }
  .main-nav-list {
    flex-direction: column;
  }
  [name="chevron-down-outline"] {
    display: none;
  }
  .main-nav-link:hover::after {
    transition: 0.3s;
    height: 0rem;
  }
  .btn-mobile-nav {
    display: block;
    z-index: 10000000000000000000;
  }

  .selected-lang {
    padding: 1.2rem !important;
  }
  .lang-menu .selected-lang span {
    font-size: 4rem;
  }
  .main-nav-link:link,
  .main-nav-link:visited,
  .nav-lang:link,
  .nav-lang:visited {
    padding: 1.8rem 2.5rem !important;
  }
  .nav-icon {
    height: 5rem;
    width: 5rem;
    color: #fff;
  }
  .grid--2-cols {
    grid-template-columns: repeat(1, 1fr);
  }
  .cards-container {
    width: 95%;
    grid-template-columns: repeat(1, 1fr);
    margin: 0 auto;
  }
  .trusted .trusted-text-box p {
    text-align: center;
    margin: 3rem auto;
  }
  .cards-container .awards-card p {
    font-size: 3rem;
    line-height: 3.6rem;
  }
  .awards-link {
    font-size: 3rem;
    padding: 1rem 2rem;
  }
  .video-text-box h3 {
    font-size: 4rem !important;
    line-height: 6rem !important;
  }
  .video-box {
    padding: 0;
    margin: 5rem auto;
  }
  .video-break-line {
    margin: 3.5rem auto;
  }
  .success h1 {
    font-size: 6.5rem;
  }
  .success p {
    font-size: 4rem;
    padding: 0 3.2rem;
    width: 100%;
  }
  .footer-link {
    font-size: 2.7rem !important;
  }
  footer {
    text-align: left !important;
    font-size: 3rem !important;
  }

  .grid--footer {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 8rem;
  }
  .social-icon-link img {
    width: 4rem !important;
  }
  .footer-logo {
    height: 14rem;
  }

  .slick-arrow {
    display: none;
  }
  .logos {
    width: 100%;
  }
}

@media (max-width: 23.5em) {
  html {
    font-size: 25% !important;
  }
}

@media (max-width: 20em) {
  html {
    font-size: 22% !important;
  }
}
