/************************/
/* HEADER */
/************************/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000063;
  /* Because we want in to be sticky later */
  height: 10.8rem;
  padding: 0 4.8rem;
  position: relative;
}

.logo {
  height: 6rem;
}

/************************/
/* NAVEGATION */
/* 
    height: 100%;
    border-bottom: 5px solid red;
    display: flex;
} */
/************************/
.main-nav {
  height: 100%;
  display: flex;
}

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.main-nav-list li:not(:last-child) {
  height: 100%;
  display: flex;
}
.main-nav-link:link,
.main-nav-link:visited,
.nav-lang:link,
.nav-lang:visited {
  display: flex !important;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  display: inline-block;
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  padding: 0 1rem;
  font-size: 1.6rem;
  transition: all 0.3s;
  position: relative;
}

.main-nav-link:link:hover,
.main-nav-link:visited:hover,
.main-nav-link.active {
  color: #45c6f4;
}
.main-nav-link::after {
  content: "";
  position: absolute;
  background-color: #45c6f4;
  width: 100%;
  height: 0;
  bottom: 0;
  left: 100%;
  transform: translateX(-100%);
}
.main-nav-link:hover::after {
  transition: 0.3s;
  height: 0.5rem;
}

.nav-lang:link,
.nav-lang:visited {
  height: 43px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  color: #fff;
  background-color: transparent !important;
  border-left: 1px solid #fff;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

.nav-lang:link:hover,
.nav-lang:visited:hover {
  background-color: #fff !important;
  color: #000063;
}
.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  background-color: #45c6f4;
  padding: 0.9rem;
  height: 100%;
  color: #fff;
  font-size: 2rem;
}
.nav-icon {
  height: 2.5rem;
  width: 2.5rem;
  color: #fff;
}
.contact-us {
  display: flex;
  align-items: center;
}
.cta-margin-left {
  margin-left: 6rem;
}

/*  */
.lang-menu {
  background-color: #45c6f4;
  padding: 0.9rem;
  height: 100%;
  color: #fff;
  font-weight: bold;
  font-size: 2rem;
  position: relative;
  color: #fff;
}
.lang-menu .selected-lang {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}
.lang-menu .selected-lang span {
  font-size: 1.8rem;
  font-weight: 600;
  text-align: center;
}
.lang-menu ul {
  margin: 0;
  padding: 0;
  display: none;
  background-color: #fff;
  border: 1px solid #f8f8f8;
  position: relative;
  top: 3.7rem;
  right: 0px;
  width: 6rem;
  border-radius: 5px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
}

.lang-menu ul li {
  list-style: none;
  text-align: left;
  display: flex;
  justify-content: space-between;
}

.lang-menu ul li a {
  text-decoration: none;
  width: 125px;
  padding: 5px 10px;
  display: block;
}
.lang-menu ul li:hover {
  background-color: #f2f2f2;
}

.lang-menu:hover ul {
  display: inline-block;
  position: absolute;
}
.dropdown-container {
  display: grid;
  grid-template-columns: 1fr 1.5fr 1fr 1fr;
}
.dropdown-column {
  width: 100%;
  padding: 3rem 2rem;
}
.dropdown-column .dropdown-main-heading {
  color: #123cbe;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
  margin-bottom: 6rem;
}

.dropdown-sup-heading {
  color: rgba(0, 45, 185, 0.93);
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
  margin-bottom: 1.5rem !important;
  display: block;
}
.dropdown-column .dropdown-sup-heading span {
  font-size: 1.4rem;
  color: #808080;
}
.dropdown-column img {
  width: 90%;
  object-fit: cover;
  margin-bottom: 2rem;
}
.partener {
  background-color: #0023d2;
  padding: 0.5rem 1.5rem;
  color: #fff;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 500;
  line-height: 220.506%;
  text-transform: capitalize;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5.4rem;
}
.forward-arrow {
  width: 1.5rem;
  height: 1.5rem;
  margin-left: 0.8rem;
}
.img-column {
  display: flex;
  flex-direction: column;
}
.dropdown-column p {
  color: #808080;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
}
.dropdown-column-grid {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1.5rem;
  row-gap: 3.5rem;
}
.sup-link {
  background-color: #009dff;
  padding: 1rem 1rem;
  color: #fff;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 500;
  text-transform: capitalize;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
}
.dropdown-menu.show {
  margin: 0 auto;
  margin-top: -0.3rem !important;
}

.dropdown,
.dropdown-toggle {
  height: 100%;
}
.dropdown-toggle::after {
  border: none !important;
}
.nav-marin-top {
  margin-top: 9rem;
}
.nav-marin-top div:not(:first-of-type) {
  margin-top: 3.4rem;
}

/*  */
.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;
  display: none;
}

.icon-mobile-nav {
  height: 8rem;
  width: 8rem;
  color: #fff;
}

.icon-mobile-nav[name="close-outline"] {
  display: none;
}

/************************/
/* HERO SECTION */
/************************/
.section-hero {
  background-color: #fdf2e9;
  position: relative;
  overflow: hidden;
}

.hero {
  /* height: 100rem; */
  width: 100vw !important;
  margin: 0 auto;
  position: relative;
}

.hero-video {
  object-fit: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.hero-text-box {
  z-index: 10;
  background-color: #00feff;
  width: 100%;
  position: relative;
}

.hero-text-box h2 {
  font-size: 4rem;
  background-color: #00feff;
  color: #000068;
  margin: 4rem 5rem;
  line-height: 5.5rem;
  /*  width: 100rem;
  position: absolute; */
}
.hero-text-box p {
  /* position: absolute; */
  margin: 0 5rem;
  font-size: 2.5rem;
  color: #002d89;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 500;
}

.hero-text-box .know-more {
  /*  position: absolute; */
  margin: 2rem 5rem;
  font-size: 2rem;
  font-style: normal;
  font-weight: 600;
  text-transform: capitalize;
  background-color: #00a3ff;
  color: #fff;
  padding: 0.8rem 2rem;
  border: none;
  cursor: pointer;
}

.arrow {
  width: 5rem;
  height: 5rem;
  color: #fff;
  cursor: pointer;
  border-radius: 50%;
}
.arrow:hover {
  background-color: #45c6f4;
}

.nav button:last-of-type {
  padding-left: 1.5rem;
}
.arrow:hover {
  color: #6cc9ff;
  transition: 0.3s;
}
/*  */

.img-slider,
.text-slider {
  width: 40rem;
  height: 22rem;
  position: relative;
  overflow: hidden;
}
.img-slider .img-slide {
  padding: 2rem;
}
.img-slider {
  background-color: #002d89;
  position: absolute;
  left: 40rem;
}

.img-slider [alt="venture studio"],
.img-slider [alt="artificial intellegence"] {
  background-color: #fff !important;
}

.img-slider .img-slide,
.text-slider .text-slide {
  width: 100%;
  transition: 1s;
  position: absolute;
}

.text-slider .text-slide {
  height: 100%;
}

.img-slider div {
  width: 100%;
  height: 100%;
  transition: 1s;
  position: absolute;
}

.text-slider {
  font-size: 2rem;
  background-color: #009dff;
  color: #fff;
  position: relative;
  width: 40rem;
}
.text-slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 1rem 4rem;
}
.text-slide h4 {
  color: #fff;
  font-size: 2.1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.6rem;
}
.text-slide button {
  background: transparent;
  padding: 0.5rem 1rem;
  color: #fff;
  font-size: 1.5rem;
  border: 1px solid #fff;
  margin-top: 4rem;
  cursor: pointer;
}
.text-slide button a {
  text-decoration: none;
  color: #fff;
}

.nav {
  text-align: center;
  margin-bottom: 10rem;
  margin-top: 1rem;
  position: absolute;
  bottom: -6.5rem;
  right: 1.5rem;
  padding-right: 0.5rem;
}
.nav button {
  font-size: 2.5rem;
  background: transparent;
  border: none;
}

.header-slider {
  display: flex;
  position: relative;
  margin: 0 0 0 5rem;
  margin-top: 4rem;
}

/************************/
/* TRUSTED BY SECTION*/
/************************/

.trusted {
  width: 100%;
  background-color: #0544e1;
  padding: 10rem;
  margin-top: -1rem;
}

.trusted .trusted-text-box h2 {
  color: #45c6f4;
  font-size: 6.4rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
}
.trusted .trusted-text-box p {
  color: #fff;
  text-align: justify;
  font-size: 2.1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2.6rem;
  margin-top: 3rem;
  width: 55rem;
}

/* .logos {

.logos::-webkit-scrollbar {
  display: none;
}



.logos div img {
  width: 80%;
}

.logos-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10% auto;
}

.logos-arrow {
  height: 5rem;
  width: 5rem;
  color: #fff;
}

.back-arrow,
.forward-arrow {
  margin: 2rem;
}
 */
.logos {
  width: 90%;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: repeat(1, 1fr);
  align-content: center;
  position: relative;

  margin: 5rem auto 0 auto;
}

.logos .logo {
  height: 11rem;
  object-fit: cover;
  transform: scale(0.6);
  margin: 0;
}

.slick-prev,
.slick-next {
  position: relative;
  width: 100%;
}
.slick-arrow {
  background: transparent;
  border: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.logo-back-arrow,
.logo-forward-arrow {
  width: 4rem;
  height: 4rem;
}
.logo-back-arrow {
  left: -9rem;
}
.logo-forward-arrow {
  right: -9rem;
}

/************************/
/* OVERVIEW SECTION*/
/************************/

.overview {
  width: 100%;
  padding: 8rem 0;
}
.overview .container {
  display: grid;
  gap: 10rem;
}
.overview-text-box h2 {
  color: #28409a;
  font-size: 6.4rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
}
.overview-text-box p:first-of-type {
  color: #00a3ff;

  font-size: 3.2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 3.5rem;
  margin-top: 2.9rem;
}
.overview-text-box p:nth-of-type(2) {
  color: #000;
  text-align: justify;
  font-size: 2.1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2.6rem;
  margin-top: 2.9rem;
}
.overview-img-box {
  display: flex;
  justify-content: center;
  align-items: center;
}
.overview-img-box img {
  width: 100%;
}
/************************/
/* VIDEO SECTION*/
/************************/

.video-section {
  width: 100%;
  padding: 15rem 0;
  background-color: #0023d2;
  color: #fff;
}
.video-section .container {
  display: grid;
  gap: rem;
}
.video-box {
  padding-left: 5rem;
}
.video-box video {
  width: 720px;
  height: 590px;
  object-fit: cover;
}
/* .video-js .vjs-big-play-button {
  font-size: 15em !important;
  line-height: 1.5em;
  height: 1.63332em;
  width: 3em;
  display: block;
  position: absolute;
  top: 50% !important;
  left: 50% !important;
  padding: 0;
  cursor: pointer;
  opacity: 1;
  border: none !important;
  background: none !important;
  border-radius: none;
  transition: all 0.4s;
} */
.vjs-theme-forest .vjs-big-play-button {
  background-image: url(../images/Polygon-1.svg) !important;
  width: 100% !important;
  height: 100% !important;
  background-repeat: no-repeat !important;
}
.vjs-theme-forest .vjs-button > .vjs-icon-placeholder:before {
  height: 1.5em !important;
  line-height: none !important;
  width: 1.7em !important;
  border-radius: 0 !important;
}
.vjs-theme-forest .vjs-play-control {
  margin-right: 0.5rem !important;
  font-size: 0.8em !important;
  margin-left: 1rem !important;
}
.vjs-theme-forest .vjs-button > .vjs-icon-placeholder:hover:before {
  background-color: transparent !important;
  color: #fff;
}
.vjs-theme-forest .vjs-volume-bar:before {
  border-bottom: 2em solid #009dff !important;
}
.my-video-dimensions {
  width: 61rem;
  height: 50rem;
}
.video-js {
  background-color: transparent !important;
}
.video-text-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
.video-text-box h3:first-of-type {
  color: #fff;
  font-size: 3.2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 5rem;
}
.video-break-line {
  display: block;
  height: 0.5rem;
  width: 5rem;
  background-color: #009dff;
  margin: 3.5rem 0;
}

.video-text-box h3:nth-of-type(2) {
  color: #00a3ff;
  font-size: 3.2rem;
  font-style: normal;
  font-weight: 500;
  line-height: 50px;
}

/************************/
/* AWARDS SECTION*/
/************************/
.awards {
  width: 100%;
  padding: 10rem 0;
  background-color: #002e85;
  color: #fff;
}
.cards-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3.5rem;
}
.cards-container .img-box {
  position: relative;
  overflow: hidden;
}

.cards-container .awards-card .img-overlay {
  width: 100%;
  height: 100%;
  background: linear-gradient(
    224deg,
    rgba(0, 177, 239, 0) 0%,
    rgba(0, 117, 214, 0.42) 36%,
    rgba(0, 72, 196, 0.73) 66%,
    rgba(0, 45, 185, 0.93) 88%,
    #0023b5 100%
  );
  position: absolute;
  left: -100%;
  top: 0;
  transition: 0.3s;
  z-index: 1;
}

.cards-container .awards-card:hover .img-overlay {
  opacity: 1;
}

.cards-container .awards-card:hover .img-overlay {
  left: 0;
}

.cards-container .awards-card img {
  max-width: 100%;
  width: 426px;
  height: 310px;
  object-fit: cover;
  position: relative;
}
.awards-link {
  position: absolute;
  left: -100%;
  bottom: 0;
  background: transparent;
  padding: 0.5rem 1rem;
  color: #fff;
  font-size: 1.6rem;
  border: 1px solid #fff;
  cursor: pointer;
  z-index: 1000;
  text-decoration: none;
  margin: 2rem 2rem;
  transition: 0.3s;
}
.cards-container .awards-card:hover .awards-link {
  left: 0;
}
.cards-container .awards-card p {
  margin-top: -0.5rem;
  color: #fff;
  font-size: 1.9rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2.6rem;
  background-color: #45c6f4;
  padding: 2rem;
}
.awards h2 {
  color: #fff;
  font-size: 6.4rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
  margin-bottom: 5rem;
}

/************************/
/* BLOG SECTION*/
/************************/

.blog {
  background-color: #0023d2;
  width: 100%;
  padding: 10rem 0 0 0;
  color: #fff;
}
.blog h2 {
  color: #fff;
  font-size: 6.4rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
}

.blog .container p {
  color: #45c6f4;
  font-size: 3.2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
  margin-top: 1rem;
}
.blog-articles {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
  margin-top: 7rem;
}
.blog-articles .article {
  height: 45.5rem;
  width: 100%;
  overflow: hidden;
  position: relative;
}
.blog-articles .article:nth-of-type(3) img,
.blog-articles .article:nth-of-type(4) img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.blog-articles .article img[src="images/blog-img-01.jpg"] {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.blog-articles .article:nth-of-type(2) {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(1, 1fr);
  gap: 0;
}
.blog-articles .article:nth-of-type(2) p {
  background-color: #002e85;
  color: #fff;
  font-size: 3.2rem;
  font-style: normal;
  font-weight: 500;
  line-height: 36px;
  padding: 2.5rem;
  display: flex;
  align-items: center;
}

.blog-articles .article:nth-of-type(3),
.blog-articles .article:nth-of-type(4) {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0;
}
.blog-articles .article:nth-of-type(3) img,
.blog-articles .article:nth-of-type(4)img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.blog-articles .article:nth-of-type(3) p {
  background-color: #0023d2;
  color: #fff;
  font-size: 3.2rem;
  font-style: normal;
  font-weight: 500;
  line-height: 36px;
  padding: 4rem;
  text-align: left;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.blog-articles .article:nth-of-type(4) p {
  background-color: #fe0066;
  color: #fff;
  font-size: 3.2rem;
  font-style: normal;
  font-weight: 500;
  line-height: 36px;
  padding: 3.2rem;
  text-align: left;
  display: flex;
  align-self: flex-end;
  height: fit-content;
}
.blog-img-overlay {
  background: linear-gradient(180deg, rgba(69, 198, 244, 0) 0%, #45c6f4 100%);
  background-size: cover;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1000000;
  color: #fff;
  font-size: 3.2rem;
  font-style: normal;
  font-weight: 500;
  line-height: 36px;
  padding: 5rem;
  display: flex;
  align-items: end;
  justify-content: center;
}
/************************/
/* BACKGROUN AND FOOTER SECTION*/
/************************/

.background-section {
  background-color: #0023b5;
  background-image: url("../images/image-3.png");
  background-size: cover;
}
.success {
  padding: 13rem 0;
}
.success h1 {
  color: #fff;
  text-align: center;
  font-size: 8rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}
.success p {
  color: #00a3ff;
  text-align: center;
  font-size: 3rem;
  font-style: normal;
  font-weight: 500;
  line-height: 5rem;
  margin: 4.9rem auto 0;
  width: 80%;
}

.success a {
  color: #fff;
  text-align: center;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  text-transform: capitalize;
  text-decoration: none;
  background-color: #45c6f4;
  padding: 1rem 2rem;
  display: block;
  width: fit-content;
  margin: 11rem auto 0;
  transition: 0.3s;
  border: 1px solid transparent;
}
.success a:hover {
  background-color: transparent;
  border: 1px solid #fff;
}
.break-line {
  width: 100%;
  height: 0.5px;
  background-color: #fff;
  display: block;
}

/************************/
/* FOOTER */
/************************/
.footer {
  padding: 10rem 0 0;
  border-top: 1px solid #eee;
  color: #fff !important;
}

.grid--footer {
  grid-template-columns: 1fr 1fr 1fr 1fr 1.5fr;
}

.logo-col {
  display: flex;
  flex-direction: column;
}

.footer-logo {
  margin-top: 1rem;
  height: 10rem;
}

.copyright {
  font-size: 1.4rem;
  line-height: 1.6;
  color: #767676;
  margin-top: auto;
}

.footer-heading {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 2rem;
  color: #fff;
  font-style: normal;
  font-weight: 600;
  line-height: 2.8rem;
  text-transform: capitalize;
}

.contacts {
  font-style: normal;
  font-size: 1.6rem;
  line-height: 1.6;
}

.address {
  margin-bottom: 2.4rem;
}

.footer-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.footer-link:link,
.footer-link:visited {
  font-size: 1.6rem;
  text-decoration: none;
  color: #fff;
  transition: all 0.3s;
  color: #fff;
  font-style: normal;
  font-weight: 400;
  line-height: 2.8rem;
  text-transform: capitalize;
  transition: 0.3s;
}

.footer-link:hover,
.footer-link:active {
  color: #00feff;
}

.footer-break-line {
  background-color: #45c6f4;
  width: 3.5rem;
  height: 2px;
  display: block;
  margin-bottom: 4rem;
}

.footer-contact-Us {
  background: transparent;
  padding: 1rem 2rem;
  color: #fff;
  font-size: 1.5rem;
  border: 1px solid #fff;
  cursor: pointer;
  text-decoration: none;
  margin: 4.5rem 0;
  display: block;
  width: fit-content;
  transition: 0.3s;
}

.footer-contact-Us:hover {
  background-color: #fff;
  color: #0023b5;
}

.social-icon-link:not(:last-of-type) {
  margin-right: 1rem;
}
.social-icon {
  color: #fff;
  width: 3.5rem;
  height: 3.5rem;
  transition: 0.3s;
}
.social-icon:hover {
  color: #00feff;
}
.companies h3 {
  color: #45c6f4;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.8rem;
  text-transform: capitalize;
  margin-bottom: 3rem;
}
.companies {
  margin: 10rem auto 8rem;
}
.companies .footer-logos {
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
  gap: 5rem;
}

.companies img {
  width: 100%;
  height: 100%;
}

.reserved {
  padding: 3rem;
  color: #fff;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 600;
  line-height: 2.8rem;
  text-transform: capitalize;
  display: flex;
  justify-content: space-between;
}
.reserved a {
  color: inherit;
}
.reserved a:not(:last-of-type) {
  margin-right: 4rem;
}
